<div header>
	<div id=header__ID>
		<div id=large__ID class="w3-center debug__ID">
			<div id=large_logo__ID class=debug__ID >
				<a onclick="$vm.nav_click_process('home')">
					<img width=360 src='__HOST__/images/logo.jpg' style='margin-top:3px;margin-bottom:0px'></img>
				</a>
			</div>
			<div id=large_nav__ID class=debug__ID>
				<a onclick="$vm.nav_click_process('home')" class="w3-bar-item w3-button">Home</a>
				<div class="w3-dropdown-hover">
					<button id=btn_d_1__ID class="w3-button">More Information <i class="fa fa-caret-down"></i></button>
					<div id=d_1__ID class="w3-dropdown-content w3-bar-block w3-card-4">
						<a onclick="$vm.nav_click_process('purpose-of-research');d_1_close__ID()" class="w3-bar-item w3-button">Purpose of Research</a>
						<a onclick="$vm.nav_click_process('about-woolcock-research');d_1_close__ID()" class="w3-bar-item w3-button">About the Woolcock Institute of Medical Research</a>
						<a onclick="/*$vm.nav_click_process('dev');*/d_1_close__ID()" class="w3-bar-item w3-button">Researchers</a>
						<a onclick="/*$vm.nav_click_process('dev');*/d_1_close__ID()" class="w3-bar-item w3-button">News</a>
					</div>
				</div>
				<a onclick="$vm.nav_click_process('dev')" class="w3-bar-item w3-button">About the Lab Study</a>
				<a onclick="$vm.nav_click_process('dev')" class="w3-bar-item w3-button">About the Home Study</a>
				<a onclick="$vm.nav_click_process('dev')" class="w3-bar-item w3-button">Contact Us</a>
				<a name=signinout onclick="$vm.nav_click_process('vm_signinout')" class="w3-bar-item w3-button"></a>
			</div>
		</div>
		<div id=small__ID class=debug__ID>
			<div id=small_logo__ID class=debug__ID>
				<a onclick="$vm.nav_click_process('home')">Woolcock</a>
			</div>
			<a id=small_btn__ID class="w3-bar-item w3-button w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
		</div>
	</div>
	<div id="sidebar__ID" side-navigation class="w3-sidebar w3-bar-block w3-black w3-card-2 w3-animate-left">
		<a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
		<a onclick="$vm.nav_click_process('home');w3_close()" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
		<div class="w3-dropdown-hover">
			<button id=btn_d_1__ID class="w3-button">More Information <i class="fa fa-caret-down"></i></button>
			<div id=d_1__ID class="w3-dropdown-content w3-bar-block w3-card-4">
				<a onclick="$vm.nav_click_process('purpose-of-research');w3_close()" class="w3-bar-item w3-button">Purpose of Research</a>
				<a onclick="$vm.nav_click_process('about-woolcock-research');w3_close()" class="w3-bar-item w3-button">About the Woolcock Institute of Medical Research</a>
				<a onclick="/*$vm.nav_click_process('dev');*/w3_close()" class="w3-bar-item w3-button">Researchers</a>
				<a onclick="/*$vm.nav_click_process('dev');*/w3_close()" class="w3-bar-item w3-button">News</a>
			</div>
		</div>
		<a onclick="$vm.nav_click_process('dev')" class="w3-bar-item w3-button">About the Lab Study</a>
		<a onclick="$vm.nav_click_process('dev')" class="w3-bar-item w3-button">About the Home Study</a>
		<a onclick="$vm.nav_click_process('dev')" class="w3-bar-item w3-button">Contact Us</a>
		<a name=signinout onclick="$vm.nav_click_process('vm_signinout');w3_close()" class="w3-bar-item w3-button"></a>
	</div>
	<script navigation-processing>
		//-----------------------------------------
		var sidebar = document.getElementById("sidebar__ID");
		function w3_open() {
			if (sidebar.style.display === 'block') sidebar.style.display = 'none';
			else 								   sidebar.style.display = 'block';
		}
		function w3_close() {
			sidebar.style.display = "none";
		}
		//-----------------------------------------
		function d_1_close__ID(){					$('#d_1__ID').css('display','none');	}
		$('#btn_d_1__ID').mouseenter(function(){	$('#d_1__ID').css('display','');		})
		//-----------------------------------------
		if($vm.user=='guest'){
			$('a[name=signinout]').html('<i class="fa fa-user"></i> Sign In')
			$('#username__ID').text('');
		}
		else{
			$('a[name=signinout]').html('<i class="fa fa-user"></i> Sign Out')
			$('#username__ID').text('Signed in as '+ $vm.user);
		}
		//---------------------------------------------
	</script>
	<style>
		.debug__ID{
			border:0px solid red;
		}
		#header__ID{
			background: rgba(255,255,255,1);
		}
		#header__ID a{
		  	cursor:pointer;
		}
		#large_logo__ID{
			display:inline-block;
			vertical-align: top;
			padding:15px;
		}
		#large_nav__ID{
			font-family: Helvetica,Arial,sans-serif;
			color:#000;
			display: inline-block;
			padding:55px 0 0 80px;
		}
		#large_nav__ID a{
			white-space: nowrap;
		}

		#small__ID{
			overflow: auto;
			background-color: #666;
		}
		#small_logo__ID{
			font: 180% Arial;
			font-weight: bold;
			color:#fff;
			display: inline-block;
			padding:15px 0 0 20px;
		}
		#small_btn__ID{
			color:#fff;
			font-size:26px;
		}
		#large__ID a:hover{
			color:#000;
			text-decoration:none;
		}
		#small__ID a:hover{
			color:#fff;
			text-decoration:none;
		}
		#sidebar__ID{
			display:none;
			width:auto;
			overflow: visible;
		}
		#sidebar__ID a{
			width:auto;
			white-space: nowrap;
		}
		#small__ID,#sidebar__ID{
			display:none;
		}
		@media screen and (max-width: 1250px){
			#large__ID{
				display:none;
			}
			#small__ID{
				display:block;
			}
		}
	</style>
</div>
